@import "../lib/css/base.less";
html,
body {
	background: @bg;
}
.particular-online {
	color: @white;
	.title {
		text-align: center;
		padding: 0.05rem 0;
		color: @grey1;
		font-size: 0.12rem;
		background: @black;
	}
	.container {
		box-sizing: border-box;
		padding: 0.1rem;
	}
	.realtime {
		background: rgba(8, 4, 19, 0.5);
	}
}
